@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}

.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.box form{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
} 

.box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
} 

.box form .inputBox input{
    position: absolute;
    width: 100%;
    padding: 13px 5px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #232323;
    font-size: 1em;
    letter-spacing: 0.08em;
    transition: .5s;
    z-index: 10;
}

.box form .inputBox .view{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #8f8f8f;


}

.box form .inputBox .icon{
    display: flex;
    align-items: end;
    padding: 0 5px 20px 0;
}

.box form .inputBox input:valid ~ .view .icon,
.box form .inputBox input:focus ~ .view .icon{
    z-index: 11;
    color: #000;
    padding: 0 5px 10px 0;
}

.box form .inputBox input:valid ~ .view .eye,
.box form .inputBox input:focus ~ .view .eye{
    cursor: pointer;
    
}

.box form .inputBox span{

    left: 0;
    padding: 15px 0px 10px;
    pointer-events: none;
    font-size: 1em;
    letter-spacing: .05em;
    transition: .5s;
}

.box form .inputBox input:valid ~ .view span,
.box form .inputBox input:focus ~ .view span{
    color: #fff;
    font-size: .75em;
    transform: translateY(-34px);
}

.box form .inputBox .back{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: .5s;
    pointer-events: none;
}

.box form .inputBox input:valid ~ .back,
.box form .inputBox input:focus ~ .back{
    height: 35px;
}

.box form .links{
    display: flex;
    justify-content: space-between;
}

.box form .links a{
    margin: 10px 0;
    font-size: .75em;
    color: #8f8f8f8f;
    text-decoration: none;
}

.box form .links a:hover,
.box form .links a:nth-child(2){
    color: #fff;
}

.box form input[type="submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: .9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}

.box form input[type="submit"]:active{
    opacity: .8;
}  

.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}

.borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
} 

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}